.box{
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;
    padding: 15px;
  }
  .pad-outside{
    padding: 20px;
  }
  .card-box{
    box-sizing: border-box;
    background-clip:padding-box;
    padding: 15px;
  }