<nav class="navbar">
    <div class="container-fluid justify-content-between">
      <span>
        <a
          class="text-white me-3"
          data-bs-toggle="offcanvas"
          href="#offcanvasExample"
          role="button"
          aria-controls="offcanvasExample"
          *ngIf="authenticationService.isUserLoggedIn()"
        >
            <i class="bi bi-list"></i>
        </a>
        <a class="navbar-brand text-white fw-bold" routerLink="/">PROservices</a>
      </span>

      <span>
         <button
           class="btn mx-1 rounded-circle"
           (click)="login()"
           *ngIf="!authenticationService.isUserLoggedIn()"
         ><i class="bi bi-person-fill"></i></button>
        <button
          class="btn btn-outline-info text-white"
          (click)="logout()"
          *ngIf="authenticationService.isUserLoggedIn()"
        >Logout</button>
      </span>
    </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title" id="offcanvasExampleLabel">PROservices</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li
                class="list-group-item"
                routerLink="/categories/admin"
                style="cursor: pointer;"
                routerLinkActive="active">
                Categories
            </li>
            <li
                class="list-group-item"
                routerLink="/recommendations/admin"
                style="cursor: pointer;"
                routerLinkActive="active">
                Recommendations
            </li>
            <li
                class="list-group-item"
                routerLink="/services/admin"
                style="cursor: pointer;"
                routerLinkActive="active">
                Services & Trades Person
            </li>
        </ul>
    </div>
</div>
