nav {
    height: 160px;
    padding: 0 100px;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 100%;
}
@media only screen and (max-width: 1366px) {
    nav {
        height: 90px;
        padding: 0 40px;
        z-index: 1;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
.rounded-circle{
    background-color: white;
    padding: 4px 8px;
}
.list-group-item.active{
    color: #fff;
    background-color: #225197;
    border-color: unset;
    font-weight: 500;
}
.list-group-item:hover{
    color: #fff;
    background-color: #225197;
}
.list-group-item{
    color: white;
    background-color: unset;
}

.offcanvas-body ul li{
    margin: 10px 0;
}

.offcanvas-header .btn-close{
    background-color: white;
}

.offcanvas.show{
    width: 25%;
}
.offcanvas{
    background-color: #1b3856;
}