.barSearch{
    width: 100%;
    height: calc(60vh - 65px);
    background-size: cover;
}

.card-color{
    background-color: #d8b3de;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: #ECEFF1;
}
input:focus {
    box-shadow: none;
}

.filters {
    padding: 50px 20px;
    background: linear-gradient(151deg, rgb(90 118 162) 10%, rgb(104 156 202) 60%, rgb(165 188 205) 100%);
    z-index: 4;
    position: absolute;
    width: 80%;
    left: 10%;
    top: calc(80vh - 130px);
    box-shadow: 0px 10px 45px 0px #36363791;
}

.row{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

@media only screen and (max-width: 1366px) {
    .filters {
        top: calc(80vh - 130px);
    }
}
.btn-primary {
    background-color: #6200EE;
    padding: 2px 16px;
}
#filterscategory{
    width: 70%;
    height: fit-content;
}