<nav class="navbar">
    <div class="container-fluid justify-content-between">
      <span>
        <a
          class="text-white me-3"
          data-bs-toggle="offcanvas"
          href="#offcanvasExample"
          role="button"
          aria-controls="offcanvasExample"
          *ngIf="authenticationService.isUserLoggedIn()"
        >
            <i class="bi bi-list" style="font-size: 25px; margin-top: 5px;"></i>
        </a>
        <a class="navbar-brand text-white fw-bold " routerLink="/"><span class="title">PROservices</span></a>
      </span>

      <span>
         <button
           class="btn mx-1 rounded-circle secondary-color-text"
           (click)="login()"
           *ngIf="!authenticationService.isUserLoggedIn()"
         ><i class="bi bi-person-fill btn-login"></i></button>
        <button
          class="btn text-white logout-btn"
          (click)="logout()"
          *ngIf="authenticationService.isUserLoggedIn()"
        >
        Logout <i class="bi bi-door-open-fill"></i>
        </button>
      </span>
    </div>
</nav>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h3 class="offcanvas-title fw-bold " id="offcanvasExampleLabel" style="color: white;">PROservices</h3>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li
                class="list-group-item"
                routerLink="/categories/admin"
                style="cursor: pointer;"
                routerLinkActive="active">
                Categories
            </li>
            <li
                class="list-group-item"
                routerLink="/recommendations/admin"
                style="cursor: pointer;"
                routerLinkActive="active">
                Recommendations
            </li>
            <li
                class="list-group-item"
                routerLink="/services/admin"
                style="cursor: pointer;"
                routerLinkActive="active">
                Services & Trades Person
            </li>
        </ul>
    </div>
    <div class="offcanvas-footer text-center primary-color-background py-2 fw-bold text-white">
      By Team CHAKRA
    </div>
</div>
