.form-container{
    background: rgba(255,255,255,0.5);
    padding: 25px 50px;
    border-radius: 8px;
    box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.6);
    position: absolute;
    top: 30%;
    left: 35%;
    width: 30%;
}

.bg-login{
    background: linear-gradient(to top, #6200ee61, #30303069), 
        url("/assets/images/login-background.jpg");
    width: 100%;
    height: calc(100vh - 65px);
    background-size: 100%;
}