<div class="container-fluid bg-login">
    <div class="row justify-content-center align-items-center">
        <div class="col-12 col-sm-6 col-md-3">
            <form class="form-container text-center" (ngSubmit)="authenticate()">
                <!-- Email input -->

                <label class="form-label" for="form2Example1">Please Login using your Pseudo and Password.</label>
                <div class="form-outline mb-4">
                    <input
                      type="email"
                      id="form2Example1"
                      class="form-control"
                      placeholder="Pseudo"
                      name="username"
                      [(ngModel)]="user.username"
                    />
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                    <input
                      type="password"
                      id="form2Example2"
                      class="form-control"
                      placeholder="Password"
                      name="password"
                      [(ngModel)]="user.password"
                    />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label text-danger" for="form2Example1" *ngIf="invalidLogin">Wrong Pseudo or Password !</label>
                </div>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>

            </form>
        </div>
    </div>
</div>
