input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
input:focus {
    box-shadow: none;
}

.pad {
    margin-top: 10px;
}

.padTemplate {
    margin-top: 40px;
}

.padButton {
    padding-left: 35%;
}


.button {
    background-color: #6200EE !important ; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

.colr{
    background-color: #F7F7F7 !important ; 
}

.card-box{

    box-sizing: border-box;

    background-clip:padding-box;

    padding: 15px;

  }

  .box{
    box-sizing: border-box;
    border: 3px solid transparent;
    background-clip:padding-box;
    margin: 15px;
  }