<div class="padTemplate">
    <ng-template #contentService let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Add service </h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="serviceForm" (ngSubmit)="onSubmitToAddService()">
                <div class="row">
                    <div class="col-6">
                        <input id="email" type="email" class="form-control" formControlName="email" placeholder="Email" />
                    </div>
                    <div class="col-6">
                        <input id="title" type="text" class="form-control" formControlName="title" placeholder="Title"/>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-x.s-3 pad" >
                        <input id="location" class="form-control" type="text" formControlName="location" placeholder="Location" />
                    </div>
                    <div class="col-xs-4 pad">
                        <input id="phoneNumber" class="form-control" type="text" formControlName="phoneNumber" placeholder="Phone Number"/>
                    </div>
                    <div class="col-xs-3 pad" >
                        <input id="description" class="form-control" type="text" formControlName="description" placeholder="Description" />
                    </div>
                    <div class="col-xs-4 pad">
                        <select id="category" class="form-control" type="text"  placeholder="Category" (change)="getCategory($event)">
                            <!-- <select id="category" class="form-control" type="text" formControlName="category" placeholder="Category" (change)="getCategory($event)"> -->
                            <option selected>--Please choose a category --</option>
                            <option *ngFor="let category of categories" [value]="category.idCategory">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer" >
                    <button  type="submit" style="display: block; margin: 0 auto;" class="btn btn-primary btn-sm button"  [disabled]="!serviceForm.valid" (click)="modal.dismiss('Cross click')">Add</button>
                </div>
              </form>
        </div>
      </ng-template>
    </div>

      <ng-template #contentTradeperson let-modal>
        <div class="modal-header">
            <h4 class="modal-title">Add PersonTrade </h4>
            <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
          </div>
          <div class="modal-body">
              <form [formGroup]="tradepersonForm" (ngSubmit)="onSubmitToAddTradeperson()">
                  <div class="row">
                      <div class="col-6">
                          <input id="email" type="email" class="form-control" formControlName="email" placeholder="Email" />
                      </div>
                      <div class="col-6">
                          <input id="title" type="text" class="form-control" formControlName="title" placeholder="Title"/>
                      </div>
                  </div>
                  <div class="row" >
                      <div class="col-6 pad" >
                          <input id="firstname" class="form-control" type="text" formControlName="firstname" placeholder="Firstname" />
                      </div>
                      <div class="col-6 pad">
                          <input id="lastname" class="form-control" type="text" formControlName="lastname" placeholder="Lastname"/>
                      </div>
                  </div>
                <div class="row" >
                    <div class="col-6 pad" >
                        <input id="domain" class="form-control" type="text" formControlName="domain" placeholder="Domain" />
                    </div>
                    <div class="col-6 pad">
                        <input id="speciality" class="form-control" type="text" formControlName="speciality" placeholder="Speciality"/>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-6 pad">
                        <input id="phoneNumber" class="form-control" type="text" formControlName="phoneNumber" placeholder="Phone Number"/>
                    </div>
                    <div class="col-6 pad">
                        <input id="adress" class="form-control" type="text" formControlName="adress" placeholder="Adress"/>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-xs-3 pad" >
                        <input id="location" class="form-control" type="text" formControlName="location" placeholder="Location" />
                    </div>
                    <div class="col-xs-3 pad" >
                        <input id="description" class="form-control" type="text" formControlName="description" placeholder="Description" />
                    </div>
                    <div class="col-xs-4 pad">
                        <select id="category" class="form-control" type="text"  placeholder="Category" (change)="getCategory($event)">
                            <option selected>--Please choose a category --</option>
                            <option *ngFor="let category of categories" [value]="category.idCategory">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                </div>
                  <div class="modal-footer" >
                      <button  type="submit" style="display: block; margin: 0 auto;" class="btn btn-primary btn-sm button"  [disabled]="!tradepersonForm.valid" (click)="modal.dismiss('Cross click')">Add</button>
                  </div>
                </form>
          </div>
      </ng-template>

    <div class="padButton">
        <button class="btn btn-outline-primary mb-2 me-2 button" (click)="addService(contentService)">Add a service</button>
        <button class="btn btn-outline-primary mb-2 me-2 button" (click)="addTradePerson(contentTradeperson)">Add a tradePerson</button>
    </div>


    <!-- card of a service or -->
    <div class="container padTemplate " >
        <div class="col-md-8 offset-md-2">
            <div *ngFor="let servicetradeperson of servicestradesperson" class="card text-start mb-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-10">
                            <h3 class="card-title">{{servicetradeperson.title}}</h3>
                            <p class="card-text">{{servicetradeperson.description}}</p>
                        </div>
                        <div class="col-2 text-end">
                            <button
                                class="btn btn-danger"
                                (click)="onDelete(servicetradeperson.id)">
                                <i class="fa fa-trash-o"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted  bg-info colr" >
                    <div class="row" >
                        <span class="col-md-4" id = "email"><i class="bi bi-envelope"></i> {{servicetradeperson.email}}</span>
                        <span class="col-md-4" id ><i class="bi bi-phone"></i> {{servicetradeperson.phoneNumber}}</span>
                        <span class="col-md-4"><i class="bi bi-geo-alt"></i> {{servicetradeperson.location}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
