.service-details-page{
    background: linear-gradient(180deg, rgb(61 113 171) 10%, rgb(73 132 193 / 68%) 50%, rgb(0 106 215 / 12%) 75%);
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    background-attachment: fixed;
}

.padTemplate{
    padding-top:125px;
}

@media only screen and (max-width: 1366px) {
    .padTemplate{
        padding-top:85px;
    }
}

.card{
    box-shadow: 0px 0px 10px 0px #00000063;
}