 <!-- card of a service or -->
 <div class="container padTemplate " style="padding-top:20px ;" >
    <div class="col-md-8 offset-md-2"> 
        <div class="card text-start mb-2">
            <div class="card-body">
                <div class="row align-items-center">
                    <div class="col-10">
                        <h2 class="card-title"> {{tradePersonItem.firstName}} {{tradePersonItem.lastName}} ,<i>{{tradePersonItem.title}}</i></h2>
                        
                    </div>
                    <div class="col-10">
                        <h3 class="card-title">{{tradePersonItem.domain}}, {{tradePersonItem.speciality}}</h3>
                        <p class="card-text">{{tradePersonItem.description}}</p>
                    </div>
                   
                </div>
            </div> 
            <div class="card-footer text-muted  bg-info colr" >
                <div class="row text-white" >
                    <span class="col-md-4" id = "email"><i class="bi bi-envelope"></i> {{tradePersonItem.email}}</span>
                    <span class="col-md-4" id ><i class="bi bi-phone"></i> {{tradePersonItem.phoneNumber}}</span>
                    <span class="col-md-4"><i class="bi bi-geo-alt"></i> {{tradePersonItem.address}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
<app-recommendations [serviceTradesPersonId]="tradePersonItem.id"></app-recommendations>