<div class="container m-3">
  <div class="card shadow-sm bg-white rounded">
    <div class="card-header">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h4>{{ recommendation.user.username }}</h4>
        </div>
        <div class="col-md-4 col-sm-4">
          <h4>{{ recommendation.numberStars }}</h4>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-sm-12">
          <p>{{ recommendation.comment }}</p>
        </div>
      </div>
    </div>
    <div class="card-footer" *ngIf="recommendation.approved == false">
      <button class="btn btn-success mx-1 my-1" (click)="approve(recommendation.idRecommendation)">Approve</button>
      <button class="btn btn-warning mx-1 my-1" (click)="decline(recommendation.idRecommendation)">Decline</button>
    </div>
  </div>
</div>

