
<div class="container mt-2 mb-2 d-flex justify-content-center margin: auto !important;">
  <div class="row" style="justify-content: center; width: 100%;">
    <div class="col-md-10 col-sm-10">
      <div class="card shadow-sm bg-white rounded">
        <div class="card-body">
          <div class="row">
            <div class="col-md-10 col-sm-10">
              <h4 class="fw-bold">{{ recommendation.user.username }}</h4>
            </div>
            <div class="col-md-2 col-sm-2">

              <h4>
                <!-- <ngb-rating [max]="5" [(rate)]="recommendation.numberStars" [readonly]="true"></ngb-rating> -->
                <!-- <ngb-rating [max]="5" [(rate)]="starRating" [readonly]="false"></ngb-rating> -->

                <ngb-rating [max]="5" [(rate)]="recommendation.numberStars" [readonly]="true">
                  <ng-template let-fill="fill">
                    <span class="star" [ngClass]="'color'+recommendation.numberStars"[class.filled]="fill === 100">&#9733;</span>
                  </ng-template>
                </ngb-rating>

              </h4>

            </div>
          </div>

          <div class="row">
            <div class="col-md-9 col-sm-12">
              <p>{{ recommendation.comment }}</p>
            </div>
            <div class="col-md-2 col-sm-2 d-flex align-items-center justify-content-center recommendation-block">
              <div class="d-flex flex-row justify-content-around recommendation-item" *ngIf="recommendation.approved == false">
                <button class="btn btn-success mx-1 my-1 recommendation-btn recommendation-btn-approve secondary-color-background" (click)="approve(recommendation.idRecommendation)">Approve</button>
                <button class="btn btn-danger mx-1 my-1 recommendation-btn" (click)="decline(recommendation.idRecommendation)">Decline</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>

</div>


