
.alert {
    animation: autoHide 0s ease-in 4s forwards;
  }
  
  .modal-dialog {
    max-width: 660px;
    margin: auto;
    padding-top: calc(50vh - 253px);
  }
  
  .btn-add:hover{
    background-color: #004080 !important;
  }
  
  .btn-cancel:hover{
    background-color: #377ee9 !important;
  }
  .recommendation-btn-approve:hover {
    background-color: #377ee9 !important;
  }

  .card{
    box-shadow: 0px 0px 10px 0px #00000063;
    margin: 10px 0;
}
.recommendation-block {
  margin-left: 30px;
}