<div class="admin-page">
    <div class="container mx-10 my-4">
        <div class="alert alert-primary text-center py-2" role="alert">
        <h1 class="alert-heading">Welcome !</h1>
        <h3>Here you can Add categories</h3>
        </div>
    </div>

    <div class="container row categories-wrapper d-flex justify-content-center  py-5">
        <div class="wrapper col-4">
            <form class="mt-2 mb-3 categories-form" [formGroup]="formCategory" (ngSubmit)="onSubmit()">
                <div class="row align-items-end categories-input">
                    <div class="col-sm-4 position-relative" style="flex: 2;">
                    <input 
                        formControlName="name"
                        type="text" 
                        class="form-control" 
                        placeholder="Entrer category">
                        <div class="position-absolute top-50 end-0 translate-middle" style="cursor: pointer; width:10%;" (click)="onClear()">
                            <i class="bi bi-x"></i>
                        </div>
                    </div>
                    <div class="col-sm-4" style="flex: 1;">
                        <button type="submit" class="btn btn-add primary-color-background btn-md text-white" [disabled]="!formCategory.valid">
                            <i class="bi bi-pencil-square" *ngIf="editMode"></i>
                            <i class="bi bi-plus" *ngIf="!editMode"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="wrapper col-4 ">
            <table class="table table-bordered">
                <tbody>
                    <tr *ngFor="let category of categories">
                        <td>{{category.name }}</td>
                        <td class="text-center">
                            <button 
                                class="btn btn-primary me-2"
                                (click)="onEdit(category)">
                                <i class="bi bi-pencil-square"></i>                       
                            </button>
                            <button 
                                class="btn btn-danger" 
                                [disabled]="category.serviceTradesPersons.length!==0" 
                                (click)="onDeleteCategory(category.idCategory)">
                                <i class="bi bi-trash3"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>