input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
input:focus {
    box-shadow: none;
}
table {
    border-radius: 10px 10px 0 0;
}

table tbody tr:nth-child(odd) {
    background-color: #F8F7FE !important;
}
.col-sm-4 {
    flex: 0 0 auto;
    width: 49.333333%;
}
.categories-form{
    display: flex;
    justify-content: center;
}
.categories-input{
    width: 100%;
}
.categories-input div:first-child{
    width: 50%;
}
.categories-input div:last-child{
    width: 50%;
}