input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
}
input:focus {
    box-shadow: none;
}
table {
    border-radius: 10px 10px 0 0;
}

table tbody tr:nth-child(odd) {
    background-color: #F8F7FE !important;
}
table tbody tr:nth-child(even) {
    background-color: #ebebeb !important;
}

.col-sm-4 {
    flex: 0 0 auto;
    width: 49.333333%;
}
.categories-form{
    display: flex;
    justify-content: center;
}
.categories-input{
    width: 100%;
}
.categories-input div:first-child{
    width: 50%;
}
.categories-input div:last-child{
    width: 50%;
}

.admin-page{
    background: linear-gradient(180deg, rgb(61 113 171) 10%, rgb(73 132 193 / 68%) 50%, rgb(0 106 215 / 12%) 75%);
    min-height: 100vh;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 0;
    position: absolute;
    background-attachment: fixed;
    padding-top:125px;
    padding-bottom:80px;
  }

@media only screen and (max-width: 1366px) {
    .admin-page{
        padding:80px 0;
    }
}


.categories-wrapper{
    justify-content: end !important;
}

@media only screen and (max-width: 1366px) {
    .categories-wrapper{
        justify-content: center !important;
    }
    
}

.btn-add:hover{
    background-color: #006ad7 !important;
}
