<div class="filters">
    <div class="row">
        <div class="col-4 row">
            <div class="col-8">
                <input type="text" class="form-control" id="keywordService" [(ngModel)]="keyword" placeholder="Search">
            </div>
            <div class="col-4">
                <button class="btn btn-primary h-100" (click)="onChangeCategory($event)">Search</button>
            </div>
        </div>
        <div class="col-4">
            <select class="form-select" id="filterscategory" name="categorySelected" (change)="onChangeCategory($event)">
                <option selected [value]="0">Filter by category</option>
                <option *ngFor="let category of categories" [value]="category.idCategory">
                    {{category.name}}
                </option>-->
            </select>
        </div>
        
        <div class="col-4 row align-items-center"> 
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" checked="checked"  type="radio" [value]="1" (change)="onChangeCategory($event)" name="typeService" id="all">
                    <label class="form-check-label" for="all">
                        All
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio"  [value]="2" (change)="onChangeCategory($event)" name="typeService" id="services" >
                    <label class="form-check-label" for="services">
                        Services
                    </label>
                </div>
            </div>
            <div class="col-auto">
                <div class="form-check">
                    <input class="form-check-input" type="radio"  [value]="3" (change)="onChangeCategory($event)" name="typeService" id="tradesPerson">
                    <label class="form-check-label" for="all">
                        Trades Person
                    </label>
                </div>
            </div>
        </div>
    </div>
   
</div>
