.barSearch{
    width: 100%;
    height: calc(60vh - 65px);
    background-size: cover;
}

.card-color{
    background-color: #d8b3de;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    background-color: #ECEFF1;
}
input:focus {
    box-shadow: none;
}

.filters {
    padding: 50px 30px;
    background: linear-gradient(to top, #6200ee00, #6200ee70);
}
.btn-primary {
    background-color: #6200EE;
    padding: 2px 16px;
}