 <!-- card of a service or -->
 <div class="service-details-page">
    <div class="container padTemplate">
        <div class="col-md-8 offset-md-2"> 
            <div class="card text-start mb-2">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col-10">
                            <h3 class="card-title">{{serviceItem.title}}</h3>
                            <p class="card-text">{{serviceItem.description}}</p>
                        </div>
                    </div>
                </div> 
                <div class="card-footer text-muted colr secondary-color-background" >
                    <div class="row text-white" >
                        <span class="col-md-4" id = "email"><i class="bi bi-envelope"></i> {{serviceItem.email}}</span>
                        <span class="col-md-4" id ><i class="bi bi-phone"></i> {{serviceItem.phoneNumber}}</span>
                        <span class="col-md-4"><i class="bi bi-geo-alt"></i> {{serviceItem.location}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-recommendations [serviceTradesPersonId]="serviceItem.id"></app-recommendations>
</div>
