<div class="toast-container position-fixed bottom-0 end-0 p-3" *ngIf="addedSuccessfully" style="z-index: 1;">
  <div id="liveToast" class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
    <div class="toast-header">
      <strong class="me-auto">Recommendation</strong>
      <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    <div class="toast-body">
      Your recommendation was added successfully and it will be approved soon !
    </div>
  </div>
</div>


<div class="container">
  <div class="col-md-8 offset-md-2">

    <button type="button" 
      style="background-color: #6200EE !important;"
      class="btn btn-success" 
      data-bs-toggle="modal" data-bs-target="#exampleModal">
        Recommender
    </button>
  </div>
</div>

<!-- RECOMMENDATION ITEM -->
<app-recommendation-item
  *ngFor="let recommendationElement of recommendations"
  [recommendation]="recommendationElement"
  [serviceTradesPersonId] = "serviceTradesPersonId"
  >
</app-recommendation-item>



<!-- Modal for adding a new recommendation -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <form (ngSubmit)="addRecommendation()">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title add-recommendation" id="exampleModalLabel">Add a recommendation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="recipient-name" class="col-form-label fw-bolder">Email</label>
              <input type="text"
                     class="form-control"
                     id="recipient-name"
                     name="userEmail"
                     required="required"
                     [(ngModel)]="recommendation.user.email"
              >
            </div>
            <div class="col-md-6 mb-3">
              <label for="message-text" class="col-form-label fw-bolder">User Name</label>
              <input type="text"
                     class="form-control"
                     id="message-text"
                     name="Username"
                     required="required"
                     [(ngModel)]="recommendation.user.username"
              >
            </div>
          </div>
        <hr>
          <div class="row">
            <div class="col-md-12 d-flex justify-content-around">
              <label class="col-form-label fw-bolder">Service Rating</label>
              <!--
              <input type="text"
                     class="form-control"
                     id="rec-number-stars"
                     name="numberStars"
                     required="required"
                     [(ngModel)]="recommendation.numberStars">
              -->

              <ngb-rating [max]="5" [(rate)]="recommendation.numberStars" [readonly]="false" style="text-align: center">
                <ng-template let-fill="fill">
                  <span class="star" [ngClass]="'color'+recommendation.numberStars"[class.filled]="fill === 100">&#9733;</span>
                </ng-template>
              </ngb-rating>

            </div>
          </div>
        <hr>
          <div class="row">
            <div class="col-md-12">
              <label for="rec-comment" class="col-form-label fw-bolder">Comment</label>
              <textarea
                class="form-control"
                id="rec-comment"
                name="comment"
                required="required"
                [(ngModel)]="recommendation.comment"
              ></textarea>
            </div>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-success" data-bs-dismiss="modal">Confirm</button>
      </div>
    </div>
    </form>
  </div>
</div>
