@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~font-awesome/css/font-awesome.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.star {
  font-size: 1.5rem;
  color: #d5d4d1;
}
.filled.color1 {
  color: orange;
}
.filled.color2 {
  color: orange;
}
.filled.color3 {
  color: orange;
}
.filled.color4 {
  color: orange;
}
.filled.color5 {
  color: orange;
}
