@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

html, body { height: 100%; }
body { margin: 0; font-family: 'Montserrat', sans-serif !important;}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background-color: #232364;
}
body::-webkit-scrollbar-thumb {
  background-color: #006ad7;
}

.star {
  font-size: 1.5rem;
  color: #d5d4d1;
}
.filled.color1 {
  color: orange;
}
.filled.color2 {
  color: orange;
}
.filled.color3 {
  color: orange;
}
.filled.color4 {
  color: orange;
}
.filled.color5 {
  color: orange;
}

.primary-color-text{
  color: #225197 !important;
}
.primary-color-background{
  background-color: #225197 !important;
}

.secondary-color-text{
  color: #006ad7 !important;
}

.secondary-color-background{
  background-color: #006ad7 !important;
}
